<?xml version='1.0' encoding='utf-8'?>
<plugin id="SehaGuardPlugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SEHAAppGuard</name>
    <js-module name="SEHAAppGuard" src="www/SEHAAppGuard.js">
        <clobbers target="cordova.plugins.SEHAAppGuard" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SEHAAppGuard">
                <param name="android-package" value="SehaGuardPlugin.SEHAAppGuard" />
            </feature>
        </config-file>
        <source-file src="src/android/SEHAAppGuard.java"
            target-dir="src/sehaapp/guard/plugin/SEHAAppGuard" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
		<hook type="before_plugin_add" src="scripts/beforePluginAdd.js" />
	</platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SEHAAppGuard">
                <param name="ios-package" value="SEHAAppGuard" />
            </feature>
        </config-file>
        <source-file src="src/ios/SEHAAppGuard.m" />
    </platform>
</plugin>